<!DOCTYPE html>
<html>
<head>
    <%include ../partials/head %>
</head>
<body>
<header>
    <%include ../partials/header %>
</header>

<!-- main start -->
<div class="login">
    <!-- views/login/login.ejs -->
    <div>
        <h3>Log in</h3>
        <form class="login_form" action="/login" method="post">
            <label>Email</label>
            <input type="text" name="email" value="<%= email%>">
            <label>Password</label>
            <input type="password" name="password" value="">
            <% loginError.forEach(function (e) {%>
                <p class="error_message"><%= e%></p>
            <%})%>
            <button class="submit_btn" type="submit">Submit</button>
        </form>
        <a href="javascript:history.back();"><button>Back</button></a>
    </div>
</div>
<!-- main end -->

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>